
/* Custom styles */
body {
    background-color: #f0f4f8;
}

.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.card {
    width: 300px;
    padding: 20px;
    background: linear-gradient(90deg, #00274C, #1E90FF);
    border-radius: 10px;
    color: white;
    font-family: Arial, sans-serif;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}


.slide-in {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 0;
    overflow: hidden;
    background: white;
    transition: width 0.3s ease-in-out;
    box-shadow: -2px 0 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    padding: 20px;
}

.slide-in.active {
    width: 400px;
}

.modal-header,
.modal-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-body {
    margin-top: 20px;
}

/* Table styles */
.table-header {
    background-color: #0F293E;
    color: white;


}

.table-body .status.active {
    background-color: #48BB78;
    color: white;
    padding: 4px 8px;
    border-radius: 4px;
    text-align: center;
}

.table-body .status.finalized {
    background-color: #FF6B6B;
    color: white;
    padding: 4px 8px;
    border-radius: 4px;
    text-align: center;
}

.table-body .details {
    color: #1E40AF;
    text-decoration: underline;
    cursor: pointer;
}

.table-container {
    max-height: 400px; /* Ajusta la altura según tus necesidades */
    overflow-y: scroll;
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */

}

.table-container::-webkit-scrollbar {
    display: none; /* Safari y Chrome */
}

#eventsTable thead {
    position: sticky;
    top: 0;
    z-index: 2; /* Asegura que esté por encima del contenido */
}

.text-truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100px; /* Puedes ajustar este valor según tus necesidades */
}

.Encurso {
    background-color: #c7f9cc; /* Color de fondo verde claro */
    color: #57cc99; /* Color del texto verde */
    border: 2px solid #57cc99; /* Borde verde */
    border-radius: 10px; /* Bordes redondeados */
    padding: 10px 20px; /* Relleno interno */
    font-family: Arial, sans-serif; /* Familia de fuente */
    font-size: 16px; /* Tamaño de la fuente */
    font-weight: bold; /* Texto en negrita */
    text-align: center; /* Alineación del texto */
    display: inline-block; /* Para que el botón tenga un tamaño acorde a su contenido */
    cursor: pointer; /* Cambia el cursor al pasar por encima */
}

.finalizado {
    background-color: #ff5a5f; /* Color de fondo rojo claro */
    color: #9b151b; /* Color del texto rojo */
    border: 2px solid #9f181e; /* Borde rojo */
    border-radius: 10px; /* Bordes redondeados */
    padding: 10px 20px; /* Relleno interno */
    font-family: Arial, sans-serif; /* Familia de fuente */
    font-size: 16px; /* Tamaño de la fuente */
    font-weight: bold; /* Texto en negrita */
    text-align: center; /* Alineación del texto */
    display: inline-block; /* Para que el botón tenga un tamaño acorde a su contenido */
    cursor: default; /* Cursor por defecto */
}

.details{
    background-color: white; /* Color de fondo blanco */
    color: #459af4; /* Color del texto azul */
    border: 1px solid #007BFF; /* Borde azul */
    border-radius: 20px; /* Bordes redondeados */
    padding: 10px 20px; /* Relleno interno */
    font-family: Arial, sans-serif; /* Familia de fuente */
    font-size: 16px; /* Tamaño de la fuente */
    text-align: center; /* Alineación del texto */
    display: inline-block; /* Para que el botón tenga un tamaño acorde a su contenido */
    cursor: pointer; /* Cambia el cursor al pasar por encima */
    text-decoration: none; /* Sin subrayado */
    width: 100px; /* Ancho del botón */
    height: 40px; /* Altura del botón */
}

.details:hover {
    background-color: #00589e; /* Color de fondo al pasar el ratón por encima */
    color: white; /* Color del texto al pasar el ratón por encima */
    text-decoration: none; /* Asegurarse de que el subrayado no aparezca al pasar el ratón por encima */
}

